/* internal */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abel');

:root {
  --blue-nova: #4090f1;
  --blue-midnight: #00172a;
  --pink-nova: #ff0090;
}

/* high-level */
html {
  background-image: url('.assets/cortex-violet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

::selection {
  color: #fff;
  background-color: var(--pink-nova);
}

body {
  margin: 0 10px;
  font-family: 'Abel', 'Segoe UI', sans-serif;
  color: #fff;
}

.header {
  align: center;
  text-align: center;
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
}

.sections {
  align: center;
  text-align: center;
}

/* property */
.collapsible {
  width: 100%;
  background-color: var(--blue-midnight);
  border: none;
  text-align: left;
  padding: 1em;
  font-size: 1em;
}
.active, .collapsible:hover {
  background-color: #204080;
}

.content {
  background-color: #102040;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.animate {
  animation-fill-mode: backwards;
}
.animate.fade {
  animation-name: anim-fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes anim-fade {
  0% {
    opacity: 0;
    transform: scale(2, 2);
  }
}

.delay {
  animation-delay: var(--delay);
}

/* specific */
#portal {
  z-index: 1;
}

#sup {
  z-index: 2;
}
