@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abel');

html {
  background-image: url('.assets/cortex-violet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

::selection {
  color: #ffffffff;
  background-color: #ff0090;
}

body {
  margin: 0;
  font-family: 'Abel', 'Segoe UI', sans-serif;
  color: #fff;
}

.header {
  align: center;
}

.sections {
  align: center;
}

.collapsible {
  width: 100%;
  background-color: #00172a;
  border: none;
  text-align: left;
  padding: 1em;
  font-size: 1em;
}
.active, .collapsible:hover {
  background-color: #204080;
}

.content {
  background-color: #102040;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
