/* internal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --font-head: 'Montserrat', 'Segoe UI Semibold', 'Segoe UI', sans-serif;
  --font-body: 'Abel', 'Segoe UI', sans-serif;

  --blue-nova: #4090f1;
  --blue-midnight: #00172a;
  --pink-nova: #ff0090;
  --grey-nova: #90969e;
}

/* high-level */
html {
  background-image: url('.assets/cortex-violet.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px) brightness(69%);
}

::selection {
  color: #fff;
  background-color: var(--pink-nova);
}

body {
  margin: 0 10px;
  font-family: var(--font-head);
  color: #fff;
}

p {
  font-family: var(--font-body);
  color: #fff;
}

/* section */
.header {
  width: 100%;
  text-align: center;
  font-family: var(--font-head);
}
.sup {
  height: 30em;
  display: flex;
  justify-content: center;
}
.icons {
  height: 10em;
  display: flex;
  justify-content: center;
}

.sections {
  text-align: center;
}

.footer {
  text-align: center;
  color: var(--grey-nova);
}

/* property */
.collapsible {
  width: 100%;
  background-color: var(--blue-midnight);
  border: none;
  text-align: center;
  padding: 1em;
  font-family: var(--font-head);
  font-size: 1em;
  color: #fff;
}
.active, .collapsible:hover {
  background-color: #204080;
}

.content {
  background-color: #102040;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.animate {
  animation-fill-mode: backwards;
}
.animate.fade {
  animation-name: anim-fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes anim-fade {
  0% {
    opacity: 0;
    transform: scale(2, 2);
  }
}

.delay {
  animation-delay: var(--delay);
}

/* specific */
#portal {
  z-index: 1;
}

#sup {
  position: absolute;
  top: 269px;
  z-index: 2;
}
